@charset 'UTF-8';

#manipMenu {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#objectMenu {
	width: 80%;
}

#addItem {
	float: right;
	width: 15%;
}

.editRow > div {
	float: left;
	width: 25%;
}

.editRow > div > label {
	position: relative;
	width: 80%;
	left: 10%;
}

.editRow > div > input {
	position: relative;
	width: 80%;
	left: 10%;
}

#elName {
	width: 50%;
}

#addItem {
	position: relative;
}

#addItem > button {
	float: right;
}
