@charset 'UTF-8';

body {
	margin: 0px;
	padding: 0px;
}

body > * {
	font-family: 'Georgia';
}

h2 {
	position: relative;
	left: 10%;
	width: 80%;
}

#topMenu {
	background-color: #deb887;
	width: 100%;
	height: 50px;
	border-bottom-style: solid;
	border-color: #c4a377;
}

#topMenu > span {
	color: #1a1a1a;
	font-size: 40px;
	position: relative;
	left: 10px;
}

#topMenu > button {
	height: 30px;
	min-width: 80px;
	position: relative;
	float: right;
	top: 10px;
	right: 10px;
	font-size: 20px;
	margin-left: 5px;
}

button {
	background-color: #deb887;
	border-color: #c4a377;
	font-family: 'Georgia';
}

button:hover {
	background-color: #c4a377;
	border-color: #ab8e68;
}

iframe {
	display: inline;
	width: 0;
	height: 0;
	border-style: none;
}

footer {
	position: relative;
	width: 100%;
	top: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #deb887;
	border-top-style: solid;
	border-color: #c4a377;
}
